# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Temporary files
*.bak
*.swp

# IDE specific files
.vscode/
.idea/

# Virtual environment
venv/
env/

# Dependency directories
lib/
libs/
dist/
build/
egg-info/
bin/
include/
pip-selfcheck.json

# Compiled Python modules
*.pyd
*.so
*.dll

# mac file
.DS_Store

# db file
history.db
history.db-journal